<div class="ui inverted large menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path ,class: "active item"%>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to "logout" , logout_path , class: "item", data: {turbo_method: :delete} %>
          <% else %>
            <%=link_to "log in" , login_path , class: "item" %>
            <%# <%= link_to "Sign up" , root_path , class: "item" %>
          <% end %>
        </div>
      </div>
      <% if !logged_in? %>
        <div class="item">
          <div class="ui primary button">Sign Up</div>
        </div>
      <% end %>
    </div>
  </div>
</div>